/* app.component.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerr{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main{
  flex: 1;
}
